In [1]:
import pandas as pd 
import numpy as np

In [3]:
df=pd.read_excel('Snapzo Product Sales Data.xlsx')

In [64]:
df['Product Name'].value_counts()

Ruchi Gold Palm Oil 1l Pack of 10                           3955
Sunpure Sunflower Oil 1l Pack of 10 OFFER STOCK             3493
Gold winner Sunflower Oil 1l Pack of 10                     2124
Sunpure Sunflower Oil 5l Jar Pack of 4                      1444
Sunpure Sunflower Oil 500 ml Pack of 20                     1122
VSL Sugar S 30 Full White HALA 50 Kg                        1007
Sunpure Refined Sunflower Oil 15l Tin                        977
White Sugar S1 (regular) 50Kg  QUALITY ASSURED               794
Gold Winner Sunflower Oil 5l Jar(Pack of 3)                  769
Doodhganga Chikodi Sugar 50 kg (Regular) QUALITY ASSURED     680
Bhagyalakshmi Gram Flour 500 g (Pack of 40)                  597
Ruchi Gold Palm Oil 500 ml Pack of 20                        561
Indore Chakki Fresh Atta 50 Kg  (N)                          466
333 Fried gram 30 kg                                         413
Bhagyalakshmi Gram Flour 10 Kg Regular (pack of 3)           395
Davangere Sugar 50kg (Regular)                               380
GTS Bullet Kolam Raw Rice 25 kg (T)                          380
ICE Maida 50 kg                                              375
VOM Groundnut Oil 1 L Pack Of 10                             360
SOUBHAGYALAKSHMI Sugar 50 Kg  (Regular)                      351
Regular Sugar 50 kg (Min 5 Bags)                             324
Round White Jaggery C Type 30 Kg                             316
Gold Winner 15L Tin                                          315
Sunrich Refined Sunflower Oil 1 L Pack Of 10                 307
Bhagyalakshmi Bansi Rawa Sooji 500 g (Pack of 40)            286
Square Jaggery 5 Kg                                          286
Kesari Chakki Atta 50 Kg(PEACH)                              277
Gemini Sunflower Oil 1 l Pack of 12                          269
R.R Super Ragi Flour 25 Kg                                   245
OM 1 L Pack Of 10                                            238
                                                            ...
Pawan Gold Sona Masoori Raw 12 Months Old 25 Kg (NG)           1
Ragi bellur 50 Kg (Raghuram)                                   1
Apollo Badam Raw 1 kg                                          1
K.M.R Toor Dal 50 Kg                                           1
C9 Wheat 50 Kg                                                 1
Emami Healthy & Tasty Vegetable 1 Ltr (12 pkts)                1
Parle Namkeen Bhujia Sev 360g                                  1
Dildar Kabuli Chana 30 kg( Extra Bold)                         1
WB Zenda  Moong Dal 50 Kg                                      1
Surichi Gold Refined Palmolein Oil 1l (Pack of 10)             1
Mahalakshmi Enterprises Loba 10 Kg                             1
Rudra Urad Dal Gola White 50 kg                                1
Bhagyalakshmi Parotha Maida 10 Kg                              1
Colours Toor Dal 50 Kg                                         1
Moongdal 10 kg (Brandless) Cleaned & Packed                    1
Dummy Product                                                  1
India Gate Basmati Rice Feast Rozzana 1 Kg                     1
Madhur Refined Sugar 1 kg                                      1
Cashew Nuts 4 Pieces 1 Kg                                      1
Pai Star Toor Dal 50 Kg (Sortex Clean)                         1
Silver 50 Kg                                                   1
Britannia Marie Gold 10 RS Pack of 60                          1
Bullet Train Kolam Steam Rice 25 Kg (R)                        1
Metro Urad Gola 50 Kgs                                         1
Badami Goundu 1 kg                                             1
Surf Excel Bar 150g                                            1
Apsara Toor Dal 50 Kg                                          1
M R Gold RNR Kolam Steam 25 Kg 12 Months Old                   1
Raghuram Rice Flour 50 Kg                                      1
HS Gold Toor Dal 50 Kg                                         1
Name: Product Name, Length: 640, dtype: int64

In [9]:
df.groupby('Product Name').sum()

                                                  Sale
Product Name
 BTC Steam Broken Rice 25 Kg Green Bag (R)          13
 Medium Gatti  Avallaki 30 Kg                       41
111 Fried Gram 30 Kg                               190
111 GramDal Premium 25 kg (Sortex Clean)            16
111 Toor Dal 50 Kg                                  21
111 Toordal 50 Kg (NG)                             103
222 Fried Gram 10 Kg                                 7
3 Star Moong Dal 25 Kg                              10
333 Fried gram 30 kg                               479
5 Star Toor Dal 50 Kg (Water Polish)                 2
50-50 Broken Rice 25 Kg                             28
666 Fried Gram 30 kg                                 1
777 Toor Dal 25 Kg                                   2
777 Urad Dal 50 kg                                   2
777 bold Kabuli chana 30 Kg                          5
9 Urad Dal 30 kg                                    10
99 Urad Dal 30 kg                                    2
99 Urad Dal 50 Kg                                    5
A-1 Toor Dal 10 kg                                   9
A-1 Toor Dal 50 kg                                  47
A1 Moong Dal 50 Kg                                   5
ABC Sona Masoori Raw Rice 25 Kg (R)                 30
AKR Jeera Rice 25 kg                               135
Aashirvaad  Aata 5 kg (Pack of 6)                   56
Aashirvaad Atta 1 kg (Pack of 30)                  192
Aashirvaad Atta 10 kg (Salt Free)                   16
Aashirvaad Atta 2 kg                                45
Abhiruchi Sona Masoori Raw Rice 25 kg               30
Akash Imported Toor Dal 30 kg                        9
Akshath Kolam Steam Rice 25 Kg 12 Months Old (R)    15
...                                                ...
Urad Gola Idly Delux 50 Kg                           9
VOM Groundnut Oil 1 L Pack Of 10                   579
VOM Groundnut Oil 15 Kg                             21
VOM Groundnut Oil 500 ml(Pack of 10)                15
VSL Sugar S 30 Full White HALA 50 Kg              2173
VSL VISHWARAJ SUGAR 50 Kg                          185
Vada King Urad Dal 50 kg                            14
Vaibhav A-1 Dhaniya 40 Kgs (ME)                     20
Vaibhav Mango Dhaniya 40 Kgs (ME)                    8
Vaishnavi Toor Dal 50 Kg (Polished)                 98
Vasu Idli Sooji 50 kg                                1
Veeru Kolam Steam  Rice 25 Kg                      230
Venkateshwara Sugar 50 Kg                          316
Venugopal Maida 50 kg                               10
Victoria Rani Wheat 50 Kg                           20
Victory Toor Dal Mini 50 Kg                         40
Vijay Gold Idli Sooji 1 kg                          25
Vijay Gold Rice Flour 2 kg                           1
Vim Bar Rs 5 85g (Pack of 144)                       4
Vinegar 700 Ml (Pack of 12)                          3
Vishal Gold Steam Broken Rice 25 Kg                252
Vivatta Maida 10 kg*3                               50
WB Zenda  Moong Dal 50 Kg                            1
Wheel Powder 1 Kg                                    8
Wheel Powder 500g                                    4
Wheel Soap Rs 10                                     8
White Sugar S1 (regular) 50Kg  QUALITY ASSURED    1842
Whole W 320 Cashew Nut (100g*10) 1 Kg                2
chikodi sugar 50 kg                                 74
lotus Groundnut 40 Kg                               85

[640 rows x 1 columns]

In [25]:
df['Product Name'].nunique()

640

In [17]:
df['Month & Time']=pd.to_datetime(df['Month & Time'])
df['Month & Time']

0       2018-11-05 19:15:37
1       2018-11-05 19:55:35
2       2018-11-06 20:23:57
3       2018-11-07 14:01:28
4       2018-11-07 15:21:13
5       2018-11-07 15:57:35
6       2018-11-09 16:57:26
7       2018-11-09 16:57:26
8       2018-11-09 17:40:44
9       2018-11-09 17:40:44
10      2018-11-09 17:40:44
11      2018-11-09 19:26:35
12      2018-11-09 19:26:35
13      2018-11-09 19:26:35
14      2018-11-09 20:48:19
15      2018-11-09 23:05:03
16      2018-11-10 03:45:14
17      2018-11-10 03:45:14
18      2018-11-10 03:45:14
19      2018-11-10 03:48:55
20      2018-11-10 03:53:47
21      2018-11-10 03:53:47
22      2018-11-10 03:53:47
23      2018-11-10 03:53:47
24      2018-11-10 12:17:24
25      2018-11-10 13:24:03
26      2018-11-10 13:24:03
27      2018-11-10 16:11:05
28      2018-11-10 16:12:13
29      2018-11-10 17:36:01
                ...
40717   2019-10-07 06:08:14
40718   2019-10-07 06:08:34
40719   2019-10-07 06:08:57
40720   2019-10-07 06:09:17
40721   2019-10-07 06:10:12
40722   2019-10-07 06:11:34
40723   2019-10-07 06:12:09
40724   2019-10-07 06:22:08
40725   2019-10-07 06:22:08
40726   2019-10-07 06:22:08
40727   2019-10-07 12:20:56
40728   2019-10-07 12:21:18
40729   2019-10-07 14:42:06
40730   2019-10-07 15:02:10
40731   2019-10-07 17:33:07
40732   2019-10-07 18:01:28
40733   2019-10-07 18:53:30
40734   2019-10-07 19:41:21
40735   2019-10-07 21:41:59
40736   2019-10-07 21:43:51
40737   2019-10-07 21:44:26
40738   2019-10-07 22:15:09
40739   2019-10-07 22:54:55
40740   2019-10-07 23:04:24
40741   2019-10-07 23:04:24
40742   2019-10-07 23:15:11
40743   2019-10-07 23:15:11
40744   2019-10-07 23:15:11
40745   2019-10-07 23:43:53
40746   2019-10-07 23:47:57
Name: Month & Time, Length: 40747, dtype: datetime64[ns]

In [28]:

df['month'] = df['Month & Time'].dt.month
avg_month_spend = df.groupby(["Product Name","month"])['Sale'].sum()
display(pd.DataFrame(avg_month_spend))

                                                      Sale
Product Name                                   month
 BTC Steam Broken Rice 25 Kg Green Bag (R)     3         1
                                               4         2
                                               5         7
                                               7         3
 Medium Gatti  Avallaki 30 Kg                  2         2
                                               3        15
                                               4         3
                                               6         6
                                               9        14
                                               10        1
111 Fried Gram 30 Kg                           4        20
                                               5        28
                                               6        38
                                               7        33
                                               8        25
                                               9        38
                                               10        8
111 GramDal Premium 25 kg (Sortex Clean)       5         2
                                               7         5
                                               8         5
                                               9         3
                                               10        1
111 Toor Dal 50 Kg                             2         2
                                               6         7
                                               7         2
                                               8         4
                                               9         6
111 Toordal 50 Kg (NG)                         9         2
                                               10      101
222 Fried Gram 10 Kg                           5         1
...                                                    ...
Vishal Gold Steam Broken Rice 25 Kg            6        28
                                               7        68
                                               8        19
                                               9        14
                                               10        6
Vivatta Maida 10 kg*3                          8        50
WB Zenda  Moong Dal 50 Kg                      9         1
Wheel Powder 1 Kg                              9         8
Wheel Powder 500g                              9         4
Wheel Soap Rs 10                               9         7
                                               10        1
White Sugar S1 (regular) 50Kg  QUALITY ASSURED 1        18
                                               2        11
                                               3        16
                                               4       171
                                               5       521
                                               6         2
                                               7        21
                                               8       812
                                               9        98
                                               11       13
                                               12      159
Whole W 320 Cashew Nut (100g*10) 1 Kg          4         1
                                               8         1
chikodi sugar 50 kg                            9        74
lotus Groundnut 40 Kg                          5         2
                                               6         3
                                               7         4
                                               8        16
                                               9        60

[2924 rows x 1 columns]

In [31]:
Top_5 = df.groupby('Product Name').sum().sort_values("Sale",ascending = False).head(5)
t = (Top_5).reset_index()
display(t)

                                       Product Name   Sale  month
0                 Ruchi Gold Palm Oil 1l Pack of 10  15377  24694
1  Sunpure Sunflower Oil 1l Pack of 10 OFFER STOCK   13397  20754
2           Gold winner Sunflower Oil 1l Pack of 10   5622  12984
3             Sunpure Refined Sunflower Oil 15l Tin   2472   6113
4           Sunpure Sunflower Oil 500 ml Pack of 20   2210   6806

In [33]:
t.drop(['month'],axis=1)

                                       Product Name   Sale
0                 Ruchi Gold Palm Oil 1l Pack of 10  15377
1  Sunpure Sunflower Oil 1l Pack of 10 OFFER STOCK   13397
2           Gold winner Sunflower Oil 1l Pack of 10   5622
3             Sunpure Refined Sunflower Oil 15l Tin   2472
4           Sunpure Sunflower Oil 500 ml Pack of 20   2210

In [65]:
def cated(product):
    if 'Sugar' in product.split():
        return "sugar"
    
    elif 'Oil' in product.split():
        return "oil"
    elif 'Dal' in product.split():
        return "Dal"

In [66]:
df['Product Name'].apply(cated)

0          Dal
1          oil
2          Dal
3          Dal
4          oil
5          oil
6          oil
7          oil
8          oil
9          oil
10        None
11        None
12        None
13         oil
14         Dal
15         oil
16         oil
17         oil
18       sugar
19        None
20         oil
21         oil
22        None
23       sugar
24         oil
25         oil
26         oil
27         oil
28         oil
29       sugar
         ...
40717      oil
40718      oil
40719      oil
40720      oil
40721     None
40722     None
40723     None
40724      oil
40725     None
40726     None
40727      oil
40728     None
40729     None
40730     None
40731     None
40732    sugar
40733     None
40734      oil
40735      Dal
40736    sugar
40737      oil
40738      oil
40739    sugar
40740     None
40741      oil
40742     None
40743     None
40744     None
40745    sugar
40746      oil
Name: Product Name, Length: 40747, dtype: object

In [54]:
df['Product Name'][1].split()

['Sunpure', 'Refined', 'Sunflower', 'Oil', '15l', 'Tin']